@media only screen and (max-width: 767px) {
  body {
    font-size: 13px;
  }
  .ptb-100 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .pt-100 {
    padding-top: 60px;
  }
  .pb-100 {
    padding-bottom: 60px;
  }
  .ptb-70 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pt-70 {
    padding-top: 30px;
  }
  .pb-70 {
    padding-bottom: 30px;
  }
  .container {
    max-width: 100%;
  }
  .default-btn {
    padding: 11px 20px;
    font-size: 13px;
  }
  .section-title {
    margin-bottom: 30px;
    padding-bottom: 5px;
  }
  .section-title h2 {
    font-size: 17px;
    max-width: 230px;
    line-height: 1.6;
    padding-left: 12px;
    padding-top: 6px;
  }
  .section-title h2::before {
    width: 35px;
    height: 35px;
  }
  .section-title h2::after {
    width: 35px;
    height: 35px;
  }
  .section-title .link-btn {
    top: 10px;
    font-size: 13px;
  }
  .form-control {
    height: 45px;
    padding-left: 10px;
    font-size: 13px;
  }
  .search-overlay .search-overlay-close {
    top: 20px;
    right: 15px;
  }
  .search-overlay .search-overlay-form {
    max-width: 290px;
    width: 290px;
  }
  .main-banner {
    height: auto;
    background-position: left center;
    padding-top: 185px;
    padding-bottom: 100px;
  }
  .main-banner-content {
    max-width: 100%;
    text-align: center;
    margin-top: 0;
    margin-left: 0;
  }
  .main-banner-content h1 {
    margin-bottom: 15px;
    font-size: 35px;
  }
  .main-banner-content p {
    font-size: 13.5px;
  }
  .main-banner-content .btn-box {
    margin-top: 20px;
  }
  .main-banner-content .btn-box ul {
    display: block;
    position: relative;
    top: 0;
    margin-left: 0;
    margin-top: 20px;
  }
  .main-banner-content .btn-box ul li {
    margin-left: 3px;
    margin-right: 3px;
  }
  .main-banner-content .btn-box ul li:last-child {
    margin-right: 0;
  }
  .main-banner-content .btn-box ul li:first-child {
    margin-left: 0;
  }
  .shape1, .shape2, .shape3, .shape4, .shape5, .shape6, .shape7, .shape8 {
    display: none;
  }
  .single-featured-videos-box .videos-content h3 {
    font-size: 15px;
  }
  .about-content h2 {
    font-size: 17px;
    padding-left: 12px;
    padding-right: 0;
  }
  .about-content h2::before {
    width: 35px;
    height: 35px;
  }
  .about-content h2::after {
    width: 35px;
    height: 35px;
  }
  .about-content h5 {
    padding-right: 0;
    font-size: 15px;
  }
  .about-content p {
    padding-right: 0;
  }
  .about-content .btn-box {
    margin-top: 20px;
    padding-right: 0;
  }
  .about-content .btn-box .default-btn {
    padding: 10px 17px 9px;
    font-size: 12px;
  }
  .about-content .btn-box .email {
    font-size: 13px;
    margin-left: 10px;
  }
  .about-info {
    text-align: center;
    height: auto;
    padding: 30px 20px;
    margin-top: 30px;
  }
  .about-info ul li {
    margin-bottom: 15px;
    font-size: 13px;
  }
  .about-info ul li span {
    font-size: 16px;
  }
  .single-playlists-videos-box .videos-image .playlists-icon i {
    font-size: 25px;
  }
  .single-playlists-videos-box .videos-content h3 {
    font-size: 16px;
  }
  .single-playlists-videos-box .videos-content .link-btn {
    font-size: 13px;
  }
  .single-top-stories-box img {
    width: 100%;
  }
  .single-top-stories-box .content {
    padding: 15px;
  }
  .single-top-stories-box .content h3 {
    font-size: 15px;
  }
  .single-top-stories-box .content.extra-pd {
    padding: 15px;
  }
  .single-top-stories-box::before {
    height: 100%;
  }
  .single-featured-channels-box .content h3 {
    font-size: 16px;
  }
  .single-featured-channels-box .content span {
    font-size: 13px;
  }
  .single-featured-channels-box .content .link-btn {
    padding: 10px 30px 9px;
    font-size: 13px;
  }
  .single-blog-post .post-content .category {
    font-size: 13px;
  }
  .single-blog-post .post-content h3 {
    font-size: 15px;
  }
  .blog-details-header h3 {
    margin-bottom: 20px;
    font-size: 19px;
    line-height: 1.4;
  }
  .blog-details-header .entry-meta {
    margin-bottom: -25px;
  }
  .blog-details-header .entry-meta ul li {
    font-size: 13px;
    margin-bottom: 15px;
    margin-right: 15px;
    padding-right: 15px;
    padding-left: 0;
  }
  .blog-details-header .entry-meta ul li i {
    display: none;
  }
  .blog-details-header .entry-meta ul li span {
    font-size: 13px;
  }
  .blog-details-header .entry-meta ul li a {
    font-size: 14px;
  }
  .blog-details-desc .article-content p {
    font-size: 14px;
  }
  .blog-details-desc .article-content h3 {
    font-size: 19px;
    line-height: 1.4;
  }
  .blog-details-desc .article-content .features-list li {
    font-size: 14.5px;
  }
  .blog-details-desc .article-footer {
    text-align: center;
  }
  .blog-details-desc .article-footer .article-tags {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .blog-details-desc .article-footer .article-share {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .blog-details-desc .article-footer .article-share .social {
    text-align: center;
    margin-top: 15px;
  }
  blockquote, .blockquote {
    padding: 30px !important;
  }
  blockquote p, .blockquote p {
    font-size: 17px !important;
  }
  .prev-link-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
  }
  .prev-link-wrapper .prev-title {
    font-size: 14px;
  }
  .next-link-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-top: 25px;
    padding-left: 0;
  }
  .next-link-wrapper .next-title {
    font-size: 14px;
  }
  .comments-area .comments-title {
    font-size: 19px;
  }
  .comments-area p {
    font-size: 14.5px;
  }
  .comments-area .comment-author .avatar {
    height: 50px;
    left: 0;
    position: relative;
    width: 50px;
    display: block;
    margin-bottom: 10px;
  }
  .comments-area .comment-body {
    padding-left: 0;
  }
  .comments-area .comment-respond .comment-reply-title {
    font-size: 19px;
  }
  .comments-area .comment-respond .comment-form-author {
    width: 100%;
    padding-right: 0;
  }
  .comments-area .comment-respond .comment-form-email {
    width: 100%;
    padding-left: 0;
  }
  .comments-area .comment-respond .form-submit input {
    font-size: 14px;
    padding: 10px 30px 10px;
  }
  .comments-area .comment-respond .comment-form-cookies-consent label {
    font-size: 15px;
  }
  .join-content {
    max-width: 100%;
    margin-left: 0;
    padding: 60px 20px;
    text-align: center;
  }
  .join-content h2 {
    font-size: 20px;
  }
  .join-content .btn-box {
    margin-top: 20px;
  }
  .join-content .btn-box .default-btn {
    padding: 10px 17px 9px;
    font-size: 12px;
  }
  .join-content .btn-box .email {
    font-size: 13px;
    margin-left: 10px;
  }
  .contactModal .modal-dialog {
    max-width: 290px;
  }
  .contactModal .modal-dialog .modal-content {
    padding: 15px;
  }
  .footer-area {
    text-align: center;
  }
  .footer-area p {
    font-size: 14px;
  }
  .footer-area ul {
    text-align: center;
    margin-top: 12px;
  }
  .footer-area ul li a {
    width: 32px;
    height: 32px;
    font-size: 13px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .section-title h2 {
    max-width: 100%;
  }
  .section-title .link-btn {
    display: inline-block;
    top: 8px;
  }
  .navbar .container-fluid {
    max-width: 540px;
  }
  .main-banner-content span {
    display: inline;
  }
  .main-banner-content p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .join-content {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .blog-details-desc .article-footer {
    text-align: left;
  }
  .blog-details-desc .article-footer .article-tags {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .blog-details-desc .article-footer .article-share {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .blog-details-desc .article-footer .article-share .social {
    text-align: right;
    margin-top: 0;
  }
  .search-overlay .search-overlay-form {
    max-width: 355px;
    width: 355px;
  }
  .contactModal .modal-dialog {
    max-width: 360px;
  }
  .contactModal .modal-dialog .modal-content {
    padding: 30px 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ptb-100 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pt-100 {
    padding-top: 80px;
  }
  .pb-100 {
    padding-bottom: 80px;
  }
  .ptb-70 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-70 {
    padding-top: 50px;
  }
  .pb-70 {
    padding-bottom: 50px;
  }
  .container {
    max-width: 720px;
  }
  .default-btn {
    font-size: 13.5px;
  }
  .navbar .container-fluid {
    max-width: 720px;
  }
  .main-banner {
    height: auto;
    padding-top: 160px;
    padding-bottom: 120px;
  }
  .main-banner-content {
    margin-top: 0;
    max-width: 405px;
  }
  .main-banner-content h1 {
    font-size: 60px;
  }
  .main-banner-content p {
    font-size: 15px;
  }
  .shape2, .shape3, .shape4, .shape5, .shape6, .shape7, .shape8 {
    display: none;
  }
  .single-featured-videos-box .videos-content h3 {
    font-size: 17px;
  }
  .about-content h2 {
    padding-right: 0;
  }
  .about-content h5 {
    font-size: 17px;
    padding-right: 0;
  }
  .about-content p {
    padding-right: 0;
  }
  .about-content .btn-box {
    padding-right: 0;
  }
  .about-info {
    height: auto;
    padding: 40px;
    margin-top: 30px;
  }
  .single-featured-videos-box .videos-image img {
    width: 100%;
  }
  .single-playlists-videos-box .videos-content h3 {
    font-size: 18px;
  }
  .single-top-stories-box::before {
    height: 100%;
  }
  .single-top-stories-box .content {
    padding: 15px;
  }
  .single-top-stories-box .content.extra-pd {
    padding: 30px;
  }
  .single-top-stories-box .content h3 {
    font-size: 18px;
  }
  .single-featured-channels-box .content h3 {
    font-size: 18px;
  }
  .single-blog-post .post-content h3 {
    font-size: 18px;
  }
  .blog-details-desc .article-content p {
    font-size: 15px;
  }
  .blog-details-desc .article-content .features-list li {
    font-size: 15px;
  }
  .join-content {
    max-width: 400px;
    padding: 135px 40px;
  }
  .join-content h2 {
    font-size: 27px;
  }
  .join-content .btn-box .email {
    font-size: 15px;
  }
  .footer-area p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .navbar {
    padding-top: 20px;
  }
  .navbar .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-light .navbar-nav .nav-item .nav-link {
    font-size: 14px;
  }
  .navbar-light .others-option .option-item .search-btn-box .search-btn {
    font-size: 20px;
  }
  .main-banner-content h1 {
    font-size: 85px;
  }
  .main-banner-content p {
    font-size: 16px;
  }
  .shape3, .shape4, .shape5, .shape6, .shape7, .shape8 {
    display: none;
  }
  .single-featured-videos-box .videos-content h3 {
    font-size: 16px;
  }
  .about-content h5 {
    font-size: 16px;
  }
  .about-info {
    padding: 20px 40px;
  }
  .single-playlists-videos-box .videos-content h3 {
    font-size: 17px;
  }
  .single-top-stories-box .content {
    padding: 25px;
  }
  .single-top-stories-box .content h3 {
    font-size: 17px;
  }
  .single-top-stories-box .content.extra-pd {
    padding: 30px;
  }
  .single-featured-channels-box .content h3 {
    font-size: 18px;
  }
  .single-blog-post .post-content h3 {
    font-size: 17px;
  }
  .join-content h2 {
    font-size: 30px;
  }
}
/*# sourceMappingURL=responsive.css.map */